In [7]:
# Dependencies
import pandas as pd

In [5]:
# Load the data into a DataFrame
df = pd.read_csv('Stock_Trading_Data.txt', encoding='UTF-8')

In [6]:
df.head()

,senator,party,sex,trade_date,owner,ticker,type,trade_amount_max,trade_amount_min,buy_one_year_change,one_mo_vtsax_change,one_year_vtsax_change,buy_compare_one_year,one_month_sell,one_month_sell_compare,weight
0,Thomas Carper,1.0,1,29jan2021,Spouse,XCAPX,Purchase,50000.0,15000.0,NaN,0.031875,NaN,NaN,NaN,NaN,4.06
1,Patrick Toomey,0.0,1,28jan2021,Child,GME,Sale,15000.0,1000.0,NaN,0.016324,NaN,NaN,-0.438378,-0.454702,1.00
2,Jerry Moran,0.0,1,27jan2021,Spouse,COST,Sale,15000.0,1000.0,NaN,0.054616,NaN,NaN,-0.044025,-0.098641,1.00
3,Jerry Moran,0.0,1,27jan2021,Self,COST,Sale,15000.0,1000.0,NaN,0.054616,NaN,NaN,-0.044025,-0.098641,1.00
4,Patrick Toomey,0.0,1,27jan2021,Child,SHOP,Sale,15000.0,1000.0,NaN,0.054616,NaN,NaN,0.191442,0.136826,1.00